.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  background-color: #262626;
}

.main {
  padding: 0px 20px;
}
